.dropdown-container {
  display: inline-block;
}

.dropdown-container button {
  @apply min-w-[80%] text-left cursor-pointer scale-100 transition-all active:scale-95;
}

.dropdown-container div {
  @apply block py-[.3em] pl-[.3em] origin-left text-left cursor-pointer z-[10];
}

.dropdown-content {
  /* display: none; */
  opacity: 0;
  transform: translateY(-10px);

  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;

  /* Width here needs work. It actually needs to inherit the grandparent's styling. as opposed to parent's */
  @apply absolute min-w-[100%] w-[18em] font-semibold text-[1.0rem]
    bg-white text-black rounded-md;
}

.activedropdown {
  /* display: block; */
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* .dropdown-container:hover .dropdown-content {
  display: block;
  @apply transition-opacity opacity-100;
}

.dropdown-container:focus-within .dropdown-content {
  display: block;
  @apply transition-opacity focus-within:opacity-100;
} */
